:root {
    box-sizing: border-box;
    font-size: 16px;
    --column-width: 14.75rem;
    --row-increment: 0.5rem;
    --pin_border_radius: 1rem;
    --pin_small: 25;
    --pin_medium: 31;
    --pin_large: 42;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
main{
    padding-top: 80px;
}

header {
    width: 100%;
    display: flex;
    padding: 10px;
    left: 0;
    top: 0;
    position: fixed;
    background-color: white;
}

#navbar-pinteres {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.logoPinteres {
    display: flex;
    justify-content: space-around;
}

#pinterest-icono {
    width: 47px;
    height: 47px;
    border-radius: 100%;
}


.tamañoIconos {
    display: flex;
    align-items: center;
}

#message {
    width: 30px;
    margin: 5px;
}

#notification {
    width: 29px;
    margin: 5px;
}

#profile-img{
    border-radius: 100%;
    background-color: #f7f5f5;
    width: 27px;
    height: 27px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#navbar-pinteres ul li a {
    margin-right: 15px;
    font-size: 13px;
    color: #080808;
    display: flex;
}

#navbar-pinteres a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link:hover,
.link-active {
    color: white;
    background: black;
}

.link {
    border-radius: 24px;
    line-height: 48px;
    padding: 0 10px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
}
.hedIconos:hover{
    background-color: #e7ebf0;
    border-radius: 100%;
}

.tamañoIconos div {
    font-size: 13px;
    color: #080808;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}


.tamañoIconos div a i {
    font-size: 13px;
    color: #080808;
    display: flex;
    width: 100%;
    height: 100%;
}

.search_box {
    display: flex;
    border-radius: 100px;
    border: 1px;
    width: 100%;
    background-color: #f7f5f5;
}

.search_box span {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 10px;
    align-items: center;
}

.finder {
    border: none;
    outline: none;
    color: #080808;;
    font-size: 17px;
    width: 83%;
    background-color: #f7f5f5;
    padding: 0 10px;
}

.search_box:hover {
    background-color: #e0dcdc;
}
.search_box:hover .finder{
    background-color: #e0dcdc;
}

.search_box .fa-search {
    font-size: 15px;
    color: #aaa;
}

.search_box .fa-search img {
    height: 20px;
    width: 20px;
    margin: 5px;
}

#content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, var(--column-width));
    grid-auto-rows: var(--row-increment);
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.card-image {
    padding: 0;
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.pin-small {
    grid-row-end: span var(--pin_small);

}

.pin-medium {
    grid-row-end: span var(--pin_medium);

}

.pin-large {
    grid-row-end: span var(--pin_large);

}

@media screen and (max-width: 480px) {
    #navbar-pinteres .logoPinteres .linkoculto {
        display:none;
    }
    #navbar-pinteres div .linkoculto {
        display:none;
    }
}
.imgen{
    height: 100%;
    width: 100%;
    border-radius: var(--pin_border_radius);
    display: block;
}

.optiones-card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 8px;
    top: 0;
    background-color: rgba(0,0,0,.5);
    border-radius: var(--pin_border_radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-image .optiones-card{
    opacity: 0;
    transition: all .2s ease-in;
}
.card-image:hover .optiones-card{
    opacity: 1;
}
.optiones-card-top{
    display: flex;
    justify-content: space-between;
}
.optiones-card-top-opc{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: white;
    border-radius: 20px;
}
.color-opc{
    background-color: #cc0000;
    padding: 0 15px;
}
.optiones-card-bottom{
    display: flex;
    justify-content: flex-end;
}
.optiones-card-bottom-opc{
    background: rgba(255,255,255,.8);
    font-size: 16px;
    border-radius:20px;
    color: #111111;
    transition: all .3s ease-in-out;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    
}

.optiones-card-bottom-opc:hover{
    background: rgba(255,255,255,.95);
}
.opc-icon{
    width: 36px;
    height: 36px;
    margin: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icono{
    width: 20px;
    height: 20px;
}
